h1,
h3,
p {
    text-align: center;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 700px;
    margin: auto;
}

#graves {
    justify-content: center;
    display: flex;
    height: 100px;
    margin: auto;
    font-size: 70px;
}

#word {
    justify-content: center;
    display: flex;
    height: 100px;
    margin: auto;
    font-size: 85px;
}

button {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: #d9d9d9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #5c5c5c;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
    margin: 2px;
}
button:hover {
    background-color: #94152e;
    color: #ffffff;
}
button:active {
    position: relative;
    top: 1px;
}

#blanks {
    width: 20px;
    height: 20px;
    border: black;
}

.skull {
    background: transparent;
    border-radius: 6px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 2px;
    width: 20px;
}

.skull:hover {
    background: transparent;
    border-radius: 6px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 2px;
    width: 40px;
}

body {
    background-image: url(./dancingskel.gif);
    background-repeat: repeat;
}
